.custom-faq {
    color: #333; /* Màu văn bản ban đầu */
    text-decoration: none; /* Loại bỏ gạch chân ban đầu */
}

.custom-faq:hover {
    color: #a67942; /* Màu văn bản khi trỏ vào */
    text-decoration: underline; /* Gạch chân khi trỏ vào */
}

.col-md-18.fix-more-padding {
    line-height: 1.5;
    margin-bottom: 5%;
}

.show_detail .detail_faq .title {
    background: url(images/icon/faq.gif) no-repeat left -48px;
    border-bottom: 1px solid #92c2fe;
    display: block;
    font: bold 12px / 24px arial, verdana, sans-serif;
    margin-bottom: 5px;
    padding-left: 27px;
}

.p-title{
    font-size: 16px;
}

.block_faq {
    margin-bottom: 1%;
}

img.img-button-go-up {
    border-radius: 25px;
}

.highlighted {
    background-color: #ffffcc; /* Màu nền nổi bật */
    border: 2px solid #ffcc00; /* Viền nổi bật */
    padding: 1% 1% 1% 1%;
    border-radius: 5px 5px 5px 5px;
}