.col-md-24{
    display: flex;
    width: 100%;
    padding-top: 20px;
}

.content-footer {
    background-color: bisque;
    text-align: center;
    padding: 2% 1% 2% 1%;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px 5px 5px 5px;
    border: 0.5px solid silver;
}

.col-md-8-content {
    width: 100%;
    margin-right: 5%;
    margin-left: 5%;
}

ul.ul-content {
    line-height: 1.5;
    padding-top: 5%;
    padding-left: 2%;
}

.margin-footer-site {
    margin-top: 15px;
    padding-bottom: 8px;
}

.text-center{
    text-align: center;
}

#footer {
    font-size: 16px;
}

#footer, #footer a {
    color: #433b3b;
}

.backgroup-img-footer {
    background-color: #f4f5a2;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
}

.ul-content li {
    line-height: 1.5;
    margin-top: 3%;
    font-size: 18px;
}