.full-row-body{
    width: 100%;
    display: flex;
}

.row-tintuc {
    margin-top: 25px;
    margin-bottom: 2%;
    border: 1px solid silver;
    width: 70%;
    margin-left: 1%;
    margin-right: 1%;
}

.inside-row {
    margin-left: 10px;
    margin-right: 10px;
}

.title-header {
    font-size: 30px;
    font-weight: bold;
}

.noidung {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

img.hinh {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}

.img-tintuc {
    background-color: silver;
    border-radius: 5px;
}

.fix-row{
    width: 27%;
}

.row-right {
    border: 1px solid silver;
    margin-top: 25px;
    margin-bottom: 223%;
    border-radius: 5px;
}

.text-header-row-right {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.header-row-right {
    background-color: #23c270;
    padding-top: 1px;
    padding-bottom: 1px;
}

li.news {
    margin: 10px;
    background-color: silver;
    border-radius: 5px;
}

a.show-black-h4 {
    margin: 10px;
}

.tin-moi-nhat{
    line-height: 1.5;
}

