.title-header {
    font-size: 30px;
    font-weight: bold;
}

p.text-top {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

.row-tintuc1 {
    width: 70%;
    margin-left: 1%;
    margin-right: 1%;
}

p.img-description {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

.text-noidung {
    text-align: justify;
    line-height: 1.5;
    font-size: 18px;
}

.row-tintuc1 {
    width: 70%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid silver;
    margin-top: 25px;
    margin-bottom: 25px;
}

.inside-row {
    margin-left: 10px;
    margin-right: 10px;
}

.img-tintuc1 {
    background-color: silver;
    border-radius: 5px;
}

.row-right {
    border: 1px solid silver;
    margin-top: 25px;
    margin-bottom: 50%;
    border-radius: 5px;
}

.full-row-body {
    width: 100%;
    display: flex;
}

.header-row-right {
    background-color: #23c270;
    padding-top: 1px;
    padding-bottom: 1px;
}

.text-header-row-right {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.fix-row{
    width: 27%;
}

li.news {
    margin: 10px;
    background-color: silver;
    border-radius: 5px;
}

a.show-black-h4 {
    margin: 10px;
}